$c0: #777777
$c1: #1B72E5
$c2: #3990FF
$c9: #202020

$f0: "Inter", sans-serif
$f1: "Montserrat", sans-serif

*
	transition: all .3s ease

html
	scroll-behavior: smooth !important

body
	background-color: #fff
	color: $c9
	font-size: 20px
	font-family: $f0
	font-weight: 400

.section
	padding-top: 100px
	padding-bottom: 100px

.font_akcent
	font-family: $f1
	font-weight: 700
	font-style: normal

h2
	font-family: $f1
	font-weight: 700
	text-transform: uppercase
	color: $c1
	font-size: 40px
	margin-bottom: 60px

.btn
	background-color: $c1
	padding: 10px 35px
	border-radius: 50px
	position: relative
	font-family: $f1


p
	line-height: 170%

.text_akcent
	color: $c1


@import _header
@import _promo
@import _services
@import _proponuemo
@import _footer

