* {
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #fff;
  color: #202020;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.font_akcent {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2, .h2 {
  color: #1B72E5;
  font-size: 40px;
  margin-bottom: 60px;
}

h3, .h3 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #202020;
  text-transform: uppercase;
}

.btn {
  background-color: #1B72E5;
  padding: 10px 35px;
  border-radius: 50px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #777777;
  line-height: 170%;
}

a:hover {
  cursor: pointer;
  filter: contrast(1.75) brightness(0.9);
}

.text_akcent {
  color: #1B72E5;
}

.list_styled {
  list-style: none;
  line-height: 150%;
  padding-left: 0;
}
.list_styled li {
  padding-left: 45px;
  background: transparent url("/img/icon_check.svg") no-repeat scroll top 0px left;
  padding-bottom: 15px;
  color: #777777;
}

.socials a {
  display: inline-block;
  margin-right: 10px;
}

/* HEADER */
header .navbar-brand img {
  max-height: 80px;
}
header #lpgnavbar {
  text-transform: uppercase;
}
header #lpgnavbar .navbar-nav {
  font-size: 18px;
}
header .navbar-nav .nav-link {
  font-family: "Montserrat", sans-serif;
}
header .header_contacts {
  text-align: center;
}
header .header_contacts .header_contacts_phone {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-decoration: none;
}
header .header_contacts .header_contacts_callback {
  text-transform: lowercase;
}

/* BLANK ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
@media (max-width: 991px) {
  header .navbar-brand img {
    max-height: 60px;
  }
}
/* // SM */
/* // XS */
/* HEADER: end */
/* PROMO */
.promo_wrapper {
  background: transparent url("../img/promo_bg.jpg") no-repeat scroll top center/cover;
}

#promo {
  padding-top: 60px;
  padding-bottom: 60px;
}
#promo .promo_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#promo .promo_text b {
  color: #f00;
}
#promo .promo_text .h1 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
#promo .promo_text .h1 span {
  text-transform: uppercase;
}
#promo .promo_text .promo_sub {
  text-transform: lowercase;
  font-weight: 400;
  color: #777777;
  margin-bottom: 40px;
}

/* BLANK ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* PROMO: end */
/* services */
#services {
  background-color: #3990FF;
}
#services h2 {
  color: #fff;
}
#services .services_item {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}
#services .services_item img {
  display: inline-block;
  margin-bottom: 15px;
  max-width: 190px;
}

/* services ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* services: end */
/* gallery */
#gallery .swiper-pagination-bullet-active {
  background-color: #fff !important;
}
#gallery .swiper-pagination-bullet {
  background-color: #1B72E5 !important;
}
#gallery .swiper-slide img {
  filter: brightness(1);
}
#gallery .swiper-slide img:hover {
  filter: brightness(1.1);
}

/* gallery ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* gallery: end */
/* proponuemo */
#proponuemo {
  background: #fff url("../img/proponuemo_bg.svg") no-repeat scroll center bottom/cover;
}
#proponuemo h2 {
  color: #202020;
}
#proponuemo .proponuemo_item h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1B72E5;
}
#proponuemo .proponuemo_item p {
  margin-bottom: 20px;
}
#proponuemo .proponuemo_item .img-fluid {
  border-radius: 30px;
}
#proponuemo .proponuemo_item .btn {
  margin-bottom: 20px;
}
#proponuemo .proponuemo_item hr {
  margin-top: 60px;
  margin-bottom: 60px;
  border-color: #1B72E5;
}

/* proponuemo ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* proponuemo: end */
/* choose */
#choose {
  background: #3990FF url("/img/choose_bg.svg") no-repeat scroll center center/cover;
  color: #fff;
}
#choose h2, #choose .h3, #choose p {
  color: #fff;
}
#choose .h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
#choose p {
  color: #ddd;
}

/* choose ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* choose: end */
/* about */
#about {
  background-color: #deebfb;
}

/* about ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* about: end */
/* orderform */
#orderform {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='979' viewBox='0 0 1920 979' width='1920' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cfilter id='a' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse' height='1204' width='1341' x='-742' y='225'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1891_108' stdDeviation='200'/%3E%3C/filter%3E%3CclipPath id='b'%3E%3Cpath d='m0 0h1920v979h-1920z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23b)'%3E%3Cpath d='m0 0h1920v979h-1920z' fill='%23fff'/%3E%3Cg filter='url(%23a)' opacity='.3'%3E%3Cellipse cx='-71.5' cy='827' fill='%231b72e5' rx='270.5' ry='202'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: left bottom;
}
#orderform h2 {
  margin-bottom: 20px;
}
#orderform .askus_text {
  padding: 60px 0;
}
#orderform .askus_text .subtitle {
  margin-bottom: 50px;
}
#orderform .persona {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
#orderform .persona .persona_photo {
  max-width: 100%;
}
#orderform .persona .persona_name {
  align-self: center;
}
#orderform .persona .persona_name .h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#orderform .orderform {
  border-radius: 30px;
  padding: 60px 80px;
  background: #3990FF url("/img/orderform_bg.svg") no-repeat scroll right bottom/contain;
}
#orderform .orderform h2, #orderform .orderform p {
  color: white;
}
#orderform .orderform p {
  margin-bottom: 40px;
}
#orderform .orderform .form-group {
  margin-bottom: 30px;
}
#orderform .orderform .form-group input {
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 20px;
  border: 0px;
}
#orderform .orderform .form-group input::-moz-placeholder {
  color: #D2D2D2;
}
#orderform .orderform .form-group input::placeholder {
  color: #D2D2D2;
}
#orderform .orderform .btn-order {
  background-color: #FF543E;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 50%;
  margin-bottom: 30px;
}
#orderform .orderform .text-muted {
  color: #ccc !important;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 30px;
}

/* orderform ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* orderform: end */
/* FOOTER */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #DEEBFB;
}
footer .footer_address {
  margin-bottom: 40px;
}
footer a {
  text-decoration: none;
  color: #202020;
}
footer .footer_phone {
  font-size: 30px;
  color: #1B72E5;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
footer .footer_rozklad {
  margin-top: 20px;
  font-size: 14px;
}
footer .bottom_bar {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #3990FF;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* BLANK ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* FOOTER: end *//*# sourceMappingURL=styles.css.map */